{{> nav/nav-block}}
<body class="background">
  <div id="main-container" class="container mr-auto p-2">
    <div class="jumbotron text-center header-wrap">
      <h1 class="lead">Welcome to <strong>CoffeeHut</strong></h1>
      <hr class="my-4">
      <div>
        <p>CoffeeHut is a web based application through which a user can order craft coffee drinks from their local
          coffee shop, CoffeeHut. Upon navigating to the application the user will be prompted to log in or create an
          account. Once the user logs in they can create a new order or view any previous orders they’ve placed. When
          creating a new order, the user can select a drink from the menu (with desired modifications), from their order
          history, or from a list of the most popular drinks.</p>
        <p class="bhours">
          <h4>Coffee Shop Hours:</h4>
          <p>
            Monday: 8am-5pm <br>
            Tuesday: 8am-5pm<br>
            Wednesday: 8am-5pm<br>
            Thursday: 8am-5pm<br>
            Friday: 8am-5pm<br>
            Saturday: 9am-3pm<br>
            Sunday: 10am-2pm
          </p>
        </p>
      </div>
    </div>
  </div>
</body>

{{> modal/login-block}}