{{> nav/nav-block}}
<body class="dashboard-background">
<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>CoffeeHut</strong></p>
    <hr class="my-4">
    <div>
     
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>
</body>

{{> modal/login-block}}
