nav {
  background-color: #a4978e;
  color: white;
}

body {
  background-size: cover;
  color: white;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Architects Daughter', cursive;
}

h1 {
  text-align: center;
  color: white;
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#525b56;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#login:hover {
  background-color: #525b56;
  border-color:#525b56;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 3.7%;
  margin-right: 40%;
  background:  rgba(164, 151, 131, 0.8);
  position: relative;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

.list-group-item {
  line-height: 2.5;
}

.card {
  background-color: #a49783;
  border-color: transparent;
  align-items: center;
}

.card-body {
  color: #132226;
}

.background {
  background: url("../images/coffeeshop.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-top: 6em;
} 

.background-profile{
  background: url("../images/coffeeshop2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin-top: 6em;
} 

#background-register {
  background: url("../images/coffeeshop2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin-top: 6em;
}

.card-group {
  margin-top: 5%;
  float: left;
}

.card {
    width: 250px;
    height: 300px;
}

.menu{
  margin: 1% auto;
}

.card-body {
  color: #444;
  width: 250px;
  height: 50px;
}

.img-size {
  width: 250px; 
  height: 250px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#212529;
  height: 1px;
}

/* OVERLAY DESCRIPTIONS */
.drink-card {
  position: relative;
}

.drink-card:hover {
  transition: .5s ease;
  background-color: #132226;
}

.drink-card img {
  width: 80%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  display:flex;
  justify-content: center;
  align-items: center;
}

.drink-card:hover img {
  opacity: 0.5;
}

.drink-card:hover .overlay {
  opacity: 1;
}

.drink-name {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.drink-price {
  display: block;
  font-size: 1.1rem;
}

/* PROFILE BUTTONS */
#update-user:hover {
  background-color: #525b56;
  border-color:#525b56;
}
#delete-user:hover {
  background-color: #525b56;
  border-color:#525b56;
}
#view-user:hover {
  background-color: #525b56;
  border-color:#525b56;
}

#add-user {
  background-color: whitesmoke;
}

#add-user:hover {
  background-color: #525b56;
  border-color: white;
}

/* DRINK CUSTOMIZATIONS MODAL */
.modal-content {
  border-color: transparent;
  box-shadow: 0 6px 20px 0 #132226;
}

.modal-header {
  background-color: #525b56;
  color: white;
  border-color: transparent;
}

.modal-footer {
  background-color: #a49783;
  border-color:#a49783;
}

.modal-body {
  background-color: #a49783;
}

#drink-submit:hover {
  background-color: #cadde1;
}

/* ORDER CART */
#cart-body{
  position: relative;
  padding-bottom: 175px;
}
.cart-item-price, .cart-item-name{
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-item-price{
  float: right;
}

.cart-total{
  width: 90%;
  position: absolute;
  bottom: 25px;
}

.order-button-wrapper{
  text-align: center;
}

#order-submit-button:hover {
  background-color: #cadde1;
  border-color:#525b56;
}

.remove-item {
  margin-left: 5px;
  color: red;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-color: transparent;
  box-shadow: 0 6px 20px 0 #132226;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  padding-top: 55px;
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.confirm-page {
  margin-bottom: 5em;
}

.fa-stack[data-count]:after{
  position:absolute;
  right: -20%;
  top: -10%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  border-color: aquamarine;
  line-height:.65em;
  color:black;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}


.aquamarine-cart {
	color: aquamarine;
}