nav {
  background-color: #a4978e;
  color: white;
}

body {
  background-size: cover;
  color: white;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Architects Daughter', cursive;
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  padding-left: 2%;
  margin-top: 3.7%;
  margin-right: 40%;
  background:  rgba(164, 151, 131, 0.8);
  position: relative;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

.list-group-item {
  line-height: 2.5;
}

.card {
  background-color: #a49783;
  border-color: transparent;
  align-items: center;
}

.card-body {
  color: #132226;
}

.background {
  background: url("../images/coffeeshop.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-top: 6em;
} 

.background-profile{
  background: url("../images/coffeeshop2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin-top: 6em;
} 

#background-register {
  background: url("../images/coffeeshop2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin-top: 6em;
}

.card-group {
  margin-top: 5%;
  float: left;
}

.card {
    width: 250px;
    height: 300px;
}

.padding {
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.card-body {
  color: #444;
  width: 250px;
  height: 50px;
}

.img-size {
  width: 250px; 
  height: 250px;
}

.html{
  position: relative;
  min-height: 100%;  
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#212529;
  height: 1px;
}

h1 {
    text-align: center;
    color: white;
}

