 <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    CoffeeHut
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-shopping-cart fa-lg" id="shopping-cart-button" aria-hidden="true" style="color:aquamarine;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
{{> modal/shopping-cart}}
